<h3>Login</h3>

<% if params[:exception] && params[:exception].message && !params[:exception].message.blank? -%>
  <p class="error"><%= params[:exception].message -%></p>
<% end -%>

<form action="<%= url(:'merb-auth_perform_login') %>" method="POST" accept-charset="utf-8">
  <input type="hidden" name="_method" value="PUT" />
  <div class="formRow">
    <label><%= MaPS[:login_field][:label]%> <input type="text" name="<%= MaPS[:login_field][:method]%>" value="" id="<%= MaPS[:login_field][:method]%>"></label>
  </div> <!-- close: formRow -->
  <div class="formRow">
    <label><%= MaPS[:password_field][:label]%><input type="password" name="<%= MaPS[:password_field][:method]%>" value="" id="<%= MaPS[:password_field][:method]%>"></label>
  </div> <!-- close: formRow -->
  <div class="formRow">
    <input type="submit" name="Submit" value="Log In" id="Submit">
  </div> <!-- close: formRow -->
</form>